/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
 
}
a:hover{text-decoration:none;}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  /*display: none;*/
}
.small{width:30%; float:left;}
.big{width:70%; float:left;}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #30323b;
    border-right: 1px solid #eee;
  }
    .sidebar2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left:  8.33333333%;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #363840;
    border-right: 1px solid #eee;
  }
  .collapse{display:block;}
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color:#5e6066;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #353740;
}
.logo{margin-bottom:30px;}
.top-header{position:fixed; top:0; left:0;  right:0; height:50px; background:#dee1e9; z-index:9999}
.switch{width:125px; margin:10px auto ;  padding:0}
.switch li{float:left; padding:0 3px; list-style:none;}
.switch li a{float:left;width:35px; height:35px; background:#30323b; text-align:center; padding-top:6px;}
.switch li.active a,
.switch li  a:hover{background:#0397d6}
.search{background:#30323b; border-radius:3px; color:rgba(255,255,255,0.4); border:1px solid #2a2b2f!important;}
.nav-sidebar{padding-top:15px;}

/*
 * Main content
 */

.main {
  padding: 20px;
  background:#dee1e9;
  height:100vh;
  
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
	padding-top:60px;
  }
 
}


.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
 
 .responsive{max-width:100%; margin:0 auto;  width:800px; clear:both; } 
 .fl{float:left; margin:0}
 .fr{float:right;}
 .viewPort{width:100%; margin-top:15px;  float:left; background:#fff; border-radius:5px; box-shadow:0 0 5px #aeaeae }
 .viewPort iframe{border:none; border:0;  border-radius:5px;}
 .box{width:400px; margin:50px auto 50px; background:#f4f4f4; border-radius:3px; box-shadow:0 0 5px #aeaeae; padding:20px; }
 .login-head{background:#30323b; padding:8px 10px 8px 20px; font-size:16px; font-weight:bold; color:#fff; margin-top:15px;}
 .myform{padding: 20px; background:#fff;}
 .myform .btn {border-radius:0}
 .upload{  bottom: 0px;   position: fixed;   left: 0;    /* right: 0; */    margin: 0;    width: 220px; }
input#search-keyword {
    border: solid 1px #dee1e9;
    padding: 10px;
}


@media (max-width: 767px) {
	.sidebar{clear:both; float:left; width:100%;    position:relative; z-index:9; margin:60px 0 20px;padding:0; }
  .mobile-top {background:#32353e; padding:15px;  }
  .search{width:100%; display:none;}
  .navbar-toggle{border:1px solid #fff; margin:0 10px 0 0; }
  .navbar-toggle span{border:1px solid #fff;}
  #template-list{ background:#383a43; width:100%;  padding:0 ; margin:0;}
  #template-list li a{ background:#383a43;  padding:10px 30px;}
  .logo{float:left; margin:0; height:auto;}
  .upload{display:none;}
  .responsive{padding:0 15px;}
 
}
